.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/GIF Tourist/FileContentIndex/eec3e147-1ae0-4445-86e5-89928e98cbee.vsidx
.vs/GIF Tourist/FileContentIndex/read.lock
.vs/GIF Tourist/v17/.suo
.vs/Tourist Free Website Template - Free-CSS.com/FileContentIndex/b6327ef2-6b85-41c5-89c1-7ca18baa03f5.vsidx
.vs/Tourist Free Website Template - Free-CSS.com/FileContentIndex/read.lock
.vs/Tourist Free Website Template - Free-CSS.com/config/applicationhost.config
.vs/Tourist Free Website Template - Free-CSS.com/v17/.suo
springrytme.html
